<div class="row text-end p-0 m-0">
  <div class="d-flex justify-content-between justify-content-center align-items-center ps-4 pe-4">
    <button mat-button aria-readonly="true" class="text-center">
      QUẢN LÝ TỒN KHO THUỐC / VẬT TƯ
    </button>

    <div>
      <button mat-icon-button matTooltip="Tải xuống" (click)="onExportExcelClicked()">
        <i class='bx bx-cloud-download'></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-form-field appearance="outline" class="ps-4 pe-4">
      <input matInput (keyup)="applyFilter($event)"
             placeholder="Tìm kiếm thuốc / vật tư...">
    </mat-form-field>
  </div>
</div>

<div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl scroll-table ps-4 pe-4">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="medicineName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> BIỆT DƯỢC</th>
      <td mat-cell *matCellDef="let item"> {{ item.medicineName }}</td>
    </ng-container>
    <ng-container matColumnDef="activeIngredient">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> HOẠT CHẤT</th>
      <td mat-cell *matCellDef="let item"> {{ item.activeIngredient }}</td>
    </ng-container>
    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef> MÃ VẠCH</th>
      <td mat-cell *matCellDef="let item"> {{ item.barcode }}</td>
    </ng-container>
    <ng-container matColumnDef="remainingQuantity">
      <th mat-header-cell *matHeaderCellDef> TỒN KHO</th>
      <td mat-cell *matCellDef="let item"> {{ item.remainingQuantity }}</td>
    </ng-container>
    <ng-container matColumnDef="importQuantity">
      <th mat-header-cell *matHeaderCellDef> NHẬP KHO</th>
      <td mat-cell *matCellDef="let item"> {{ item.importQuantity }}</td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> ĐƠN GIÁ</th>
      <td mat-cell *matCellDef="let item"> {{ item.unitPrice | number }}</td>
    </ng-container>
    <ng-container matColumnDef="importDate">
      <th mat-header-cell *matHeaderCellDef> NGÀY NHẬP</th>
      <td mat-cell *matCellDef="let item"> {{ item.importDate }}</td>
    </ng-container>
    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef> HẠN DÙNG</th>
      <td mat-cell *matCellDef="let item"> {{ item.expiryDate }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns"></tr>
  </table>
</div>
<div class="ps-4 pe-4">
  <mat-paginator [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [length]="dataSource.data.length"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
