<h3 class="bg-blue text-center p-2 mat-elevation-z1"> LỊCH SỬ BỆNH ÁN </h3>
<mat-dialog-content>
  <div class="container mt-2 mb-2">
    <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl scroll-table ps-4 pe-4">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="createDate">
          <th mat-header-cell *matHeaderCellDef> NGÀY KHÁM BỆNH</th>
          <td mat-cell *matCellDef="let item"> {{ item.createDate | date: 'dd-MM-yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="diagnose">
          <th mat-header-cell *matHeaderCellDef> KẾT LUẬN CỦA BÁC SĨ</th>
          <td mat-cell *matCellDef="let item"> {{ item.diagnose }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let item; columns: displayedColumns" (click)="detail(item)"></tr>
      </table>
    </div>
    <div>
      <mat-paginator [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [length]="dataSource.data.length"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <div class="row ">
      <div class="d-flex justify-content-center">
        @if (role === 'ADMIN') {
          <button mat-icon-button color="warn" type="button" class="me-2" (click)="deletePatient()" matTooltip="Xóa thông tin khách hàng khỏi hệ thống">
            <i class='bx bx-trash'></i>
          </button>
        }
      </div>
    </div>
  </div>
</mat-dialog-content>
