<div class=" text-end p-0 m-0">
  <div class="d-flex justify-content-between justify-content-center align-items-center ps-4 pe-4">
    <button mat-button aria-readonly="true" class="text-center">
      DANH SÁCH ĐƠN THUỐC MẪU
    </button>
    <div>
      <button mat-icon-button matTooltip="Tạo mới" (click)="create()">
        <i class='bx bxs-file-plus'></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-form-field appearance="outline" class="ps-4 pe-4 ">
      <input matInput (keyup)="applyFilter($event)" class
             placeholder="Tìm kiếm ...">
    </mat-form-field>
  </div>
</div>

<div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl scroll-table ps-4 pe-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="prescriptionTemplateId">
      <th mat-header-cell *matHeaderCellDef> MÃ ĐƠN MẪU</th>
      <td mat-cell *matCellDef="let item"> ĐTM - {{ item.prescriptionTemplateId }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> MÔ TẢ</th>
      <td mat-cell *matCellDef="let item"> {{ item.description }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" matTooltip="Xem chi tiết" (click)="detail(item)">
          <i class='bx bx-expand'></i>
        </button>
        <button mat-icon-button color="warn" matTooltip="Xóa đơn mẫu" (click)="delete(item)">
          <i class='bx bx-trash'></i>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns"></tr>
  </table>
</div>
<div class="ps-4 pe-4">
  <mat-paginator [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
